*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

:root {
  /* Colors */
  /* Bright colors */
  --color-primary: #ffd93d;
  --color-secondary: #ff88cc;
  --color-tertiary: #ff6b6b;
  /* Contrast colors */
  --color-contrast-primary: hsl(0, 0%, 0%);
  --color-contrast-secondary: hsl(0, 0%, 100%);
  /* Medium neutrals */
  --color-neutral-light: hsl(0, 0%, 96%);
  --color-neutral-mid: hsl(0, 0%, 80%);
  --color-neutral-dark: hsl(0, 0%, 33%);
  /* Muted */
  --color-accent-muted: hsla(0, 0%, 55%, 0.549);
  --color-accent-border: hsl(0, 0%, 87%);
  /* Spacing sizes */
  --size-tiny: clamp(0.2rem, calc(0.2rem + 0.2vw), 0.5rem);
  --size-smaller: clamp(0.5rem, calc(0.35rem + 0.4vw), 1rem);
  --size-small: clamp(1rem, calc(1.25rem + 0.5vw), 1.75rem);
  --size-medium: clamp(1.5rem, calc(2rem + 0.5vw), 3rem);
  --size-large: clamp(2.5rem, calc(3.25rem + 1vw), 4rem);
  /* Font sizes */
  --size-font-smaller: clamp(0.7rem, calc(0.65rem + 0.5vw), 1rem);
  --size-font-small: clamp(1rem, calc(0.8rem + 0.7vw), 1.3rem);
  --size-font-medium: clamp(1.5rem, calc(1.3rem + 1vw), 2rem);
  --size-font-large: clamp(2rem, calc(1.8rem + 1.2vw), 3rem);
  --size-font-larger: clamp(3rem, calc(3.5rem + 1.5vw), 5rem);
  /* Font weights */
  --font-weight-white: 100;
  --font-weight-light: 400;
  --font-weight-regular: 500;
  --font-weight-medium: 600;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;
  --font-weight-black: 900;
}

/* Tablet */
@media screen and (min-width: 40rem) {
  :root {
    /* Font sizes */
    --size-font-small: clamp(1rem, calc(0.8rem + 0.4vw), 1.5rem);
    --size-font-medium: clamp(1.5rem, calc(1.5rem + 0.8vw), 2.5rem);
    --size-font-large: clamp(2.5rem, calc(2rem + 0.9vw), 3.5rem);
    --size-font-larger: clamp(3rem, calc(3rem + 1vw), 4rem);
  }
}
/* Desktop */
@media screen and (min-width: 65rem) {
  :root {
    /* size-Font sizes */
    --size-font-small: clamp(0.8rem, calc(0.8rem + 0.3vw), 1.2rem);
    --size-font-medium: clamp(1rem, calc(1rem + 0.6vw), 2rem);
    --size-font-large: clamp(2rem, calc(2rem + 0.7vw), 3rem);
    --size-font-larger: clamp(3rem, calc(3rem + 1vw), 4rem);
  }
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--color-neutral-mid);
  width: min(100%, 18rem + 5vw);
  border: var(--size-smaller) solid var(--color-accent-border);
  border-radius: var(--size-small);
  padding-block: var(--size-small);
  transition: 500ms ease;
}
.card:hover {
  transform: scale(1.05);
  transition: 200ms ease;
}
.card__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: var(--size-smaller);
}
.card__form button {
  background: var(--color-accent-muted);
  border: none;
  border-radius: var(--size-small);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: var(--size-font-small);
  width: 30%;
  padding-block: var(--size-tiny);
  cursor: pointer;
  color: var(--color-contrast-secondaryo);
}
.card__form button:active {
  transform: scale(0.9);
}
.card__name {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  font-size: var(--size-font-small);
  width: 100%;
  padding-inline: var(--size-small);
}
.card__input {
  display: block;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: var(--size-font-small);
  border: 0.2rem solid var(--color-accent-muted);
  background: var(--color-accent-border);
  border-radius: var(--size-small);
  padding: 0.2rem var(--size-smaller);
  width: 55%;
  transition: 500ms ease;
}
.card__input:hover {
  width: 65%;
  transition: 300ms ease;
}
.card__input:focus {
  width: 65%;
  transition: 200ms ease;
  outline: none;
}
.card__title {
  display: block;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: var(--size-font-medium);
  text-align: center;
}
.card__button {
  cursor: pointer;
  font-family: "Fredoka", sans-serif;
  border: none;
}
.card__button--wide {
  background: transparent;
  color: var(--color-contrast-secondary);
  font-size: var(--size-font-large);
  font-weight: 400;
  margin-block-end: var(--size-tiny);
  transition: 500ms ease;
}
.card__button--wide:hover {
  transition: 200ms ease;
  transform: scale(1.2);
}
.card__button--wide:active {
  transition: 200ms ease;
  transform: scale(1.1);
}
.card__button--player {
  padding: var(--size-smaller) var(--size-small);
  transform: skew(-20deg);
  font-size: var(--size-font-small);
  z-index: 1;
  transition: 400ms ease;
  border: 0.2rem solid transparent;
}
.card__button--player:hover {
  transform: scale(1.1) skew(-20deg);
  transition: 150ms ease-out;
  z-index: 3;
}
.card__button--player span {
  display: inline-block;
  transform: skew(20deg);
}
.card__button--human {
  background: var(--color-primary);
}
.card__button--computer {
  background: var(--color-secondary);
}
.card__button--selected {
  border: 0.2rem solid var(--color-tertiary);
  transform: skew(-20deg) scale(1);
}
.card__image {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
  background: var(--color-neutral-dark);
  text-align: center;
  border-radius: var(--size-small);
  margin-block-start: var(--size-small);
  padding-inline: var(--size-smaller);
  position: relative;
}
.card__image::before {
  content: "Player";
  position: absolute;
  left: 50%;
  bottom: calc(var(--size-small) / 2);
  transform: translateX(-50%);
  border: 0.2rem var(--color-tertiary);
  z-index: 5;
  height: 10%;
  padding: calc(var(--size-small) / 5);
  color: var(--color-contrast-secondary);
  font-family: "Fredoka", sans-serif;
  font-weight: var(--size-font-weight-regular);
  font-size: var(--size-font-medium);
  font-style: normal;
}
.card__image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 10rem var(--color-contrast-primary), inset 0 2.5rem 5rem var(--color-contrast-primary), inset 0 -2.5rem 5rem var(--color-contrast-primary);
  opacity: 0.5;
}
.card__image-button {
  background: none;
  border: none;
  cursor: pointer;
  transition: 400ms ease;
  z-index: 3;
}
.card__image-button:hover {
  transform: scale(1.2);
  transition: 200ms ease;
}
.card__image-button:active {
  transform: scale(1.1);
  transition: 200ms ease;
}
.card__icon {
  color: var(--color-contrast-secondary);
  stroke-width: 0.2rem;
}
.card__character {
  height: 75%;
  padding-block-end: var(--size-small);
}
.card__character--preview {
  transform: scale(0.5);
  z-index: 1;
  opacity: 0.8;
}
.card__character--default {
  z-index: 3;
  cursor: pointer;
  transform: scale(1);
  transition: 500ms ease;
  position: relative;
}
.card__character--default:hover {
  transform: scale(1.08);
  transition: 200ms ease;
}
.card__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.card__players {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.fast-slow-hover {
  transition: 500ms ease;
  cursor: pointer;
}
.fast-slow-hover:hover {
  transition: 200ms ease;
}

@media (prefers-reduced-motion: reduce) {
  *, *::before, *::after {
    animation-duration: 0s !important;
    transition-duration: 0s !important;
    scroll-behavior: auto !important;
  }
}
body {
  display: flex;
  flex-direction: column;
  align-items: unset;
  justify-content: center;
  cursor: crosshair;
  background: var(--color-accent-muted);
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Fredoka", sans-serif;
  font-weight: var(--font-weight-light);
  font-size: var(--size-font-large);
  font-style: normal;
  width: 100%;
  padding: var(--size-smaller);
  background: var(--color-neutral-dark);
  color: var(--color-tertiary);
}

.game-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--size-smaller);
}
.game-name span {
  cursor: pointer;
}
.game-name span:hover {
  transform: scale(1.2);
  filter: saturate(2);
  color: var(--color-tertiary);
}

main {
  width: 100%;
}

.character-selection-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: var(--size-medium);
  gap: calc(var(--size-small) - 0.5rem);
}
@media screen and (min-width: 60rem) {
  .character-selection-screen {
    flex-direction: row;
  }
}

.game-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--size-smaller);
}
.game-controls__status {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--size-smaller);
  font-family: "Poppins", sans-serif;
  font-weight: var(--font-weight-regular);
  font-size: var(--size-font-medium);
  font-style: normal;
}
.game-controls__start-button {
  padding: var(--size-smaller) var(--size-small);
  border-radius: var(--size-small);
  border: none;
  background: var(--color-tertiary);
  font-family: "Fredoka", sans-serif;
  font-weight: var(--font-weight-medium);
  font-size: 130%;
  font-style: normal;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  position: relative;
  color: var(--color-contrast-primary);
  cursor: pointer;
  transition: 200ms ease;
}
.game-controls__start-button:hover {
  transform: scale(1.1);
}
.game-controls__start-button:active {
  transform: scale(1);
}

.gameboard {
  aspect-ratio: 1/1;
  width: min(80vw, 20rem + 5vw);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
  margin-block-end: var(--size-medium);
}
.gameboard__screen {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.gameboard__square {
  border: calc(var(--size-tiny) + 0.2vw) solid var(--color-tertiary);
}
.gameboard__square button {
  font-family: "Fredoka", sans-serif;
  font-weight: var(--font-weight-bolder);
  font-size: 450%;
  font-style: normal;
  width: 100%;
  aspect-ratio: 1/1;
  border: none;
  background: transparent;
  cursor: pointer;
}
.gameboard__square:nth-child(1) {
  border-inline-start: none;
  border-block-start: none;
}
.gameboard__square:nth-child(2) {
  border-block-start: none;
}
.gameboard__square:nth-child(3) {
  border-inline-end: none;
  border-block-start: none;
}
.gameboard__square:nth-child(4) {
  border-inline-start: none;
}
.gameboard__square:nth-child(6) {
  border-inline-end: none;
}
.gameboard__square:nth-child(7) {
  border-inline-start: none;
  border-block-end: none;
}
.gameboard__square:nth-child(8) {
  border-block-end: none;
}
.gameboard__square:nth-child(9) {
  border-inline-end: none;
  border-block-end: none;
}
.gameboard__players {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  padding-inline: 0.5rem;
  max-width: 100rem;
  margin: var(--size-small);
}
.gameboard__player {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: var(--size-smaller);
  min-height: 5rem;
  position: relative;
  background: var(--color-neutral-dark);
  color: var(--color-contrast-secondary);
  padding-block: 0.5rem;
  z-index: -1;
  width: calc(9rem + 10vw);
}
@media screen and (min-width: 60rem) {
  .gameboard__player {
    width: calc(12rem + 10vw);
  }
}
.gameboard__player-1 {
  transform: skew(-20deg);
  align-items: flex-end;
  padding-inline-end: 0.5rem;
}
@media screen and (min-width: 60rem) {
  .gameboard__player-1 {
    align-items: flex-start;
    margin-inline-start: var(--size-large);
    padding-inline-start: calc(var(--size-large) + 1.5rem);
  }
}
.gameboard__player-2 {
  transform: skew(20deg);
  align-items: flex-start;
  padding-inline-start: 0.5rem;
}
@media screen and (min-width: 60rem) {
  .gameboard__player-2 {
    align-items: flex-end;
    margin-inline-end: var(--size-large);
    padding-inline-end: calc(var(--size-large) + 1.5rem);
  }
}
.gameboard__score {
  font-size: var(--size-font-small);
}
@media screen and (min-width: 60rem) {
  .gameboard__score {
    font-size: var(--size-font-medium);
  }
}
.gameboard__score-1 {
  transform: skew(20deg);
}
@media screen and (min-width: 60rem) {
  .gameboard__score-1 {
    padding-inline-start: 0.7rem;
  }
}
.gameboard__score-2 {
  transform: skew(-20deg);
}
@media screen and (min-width: 60rem) {
  .gameboard__score-2 {
    padding-inline-end: 0.7rem;
  }
}
.gameboard__name {
  font-size: calc(var(--size-font-medium) - 0.4rem);
}
@media screen and (min-width: 60rem) {
  .gameboard__name {
    font-size: calc(var(--size-font-large) - 0.4rem);
  }
}
.gameboard__name-1 {
  transform: skew(20deg);
  color: var(--color-primary);
  padding-inline-end: 3%;
}
.gameboard__name-2 {
  transform: skew(-20deg);
  color: var(--color-secondary);
  padding-inline-start: 3%;
}
.gameboard__avatar {
  aspect-ratio: 1/1;
  background: var(--color-neutral-mid);
  border: var(--size-smaller) solid var(--color-accent-border);
  border-radius: var(--size-small);
  position: absolute;
  top: 50%;
  height: 150%;
  background-position: 50% -10%;
  background-repeat: no-repeat;
  background-size: 50%;
}
.gameboard__avatar-1 {
  left: -60%;
  transform: translate(75%, -50%) skew(20deg);
}
.gameboard__avatar-2 {
  right: -60%;
  transform: translate(-75%, -50%) skew(-20deg);
}
.gameboard__close-game-btn {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 var(--size-small) 0.25rem;
  border-radius: 0 0 var(--size-small) var(--size-small);
  border: none;
  background: var(--color-tertiary);
  font-family: "Fredoka", sans-serif;
  font-weight: var(--font-weight-medium);
  font-size: 130%;
  font-style: normal;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  color: var(--color-contrast-secondary);
  cursor: pointer;
  transition: 500ms ease;
}
.gameboard__close-game-btn:hover {
  transform: translateX(-50%) scale(1.1);
  transition: 200ms ease;
}
.gameboard__close-game-btn:active {
  transform: translateX(-50%) scale(1);
  transition: 200ms ease;
}
.gameboard__round, .gameboard__next-round {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: var(--size-small);
  border: none;
  background: var(--color-tertiary);
  font-family: "Fredoka", sans-serif;
  font-weight: var(--font-weight-medium);
  font-size: 300%;
  font-style: normal;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-contrast-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
}
.gameboard__next-round {
  display: block;
  padding: var(--size-small);
  overflow: hidden;
}
.gameboard__next-round .gameboard__players {
  transform: scale(0.8);
  width: 100%;
  gap: var(--size-medium);
  margin: 0;
}
@media screen and (min-width: 60rem) {
  .gameboard__next-round .gameboard__players {
    gap: var(--size-large);
  }
}
@media screen and (min-width: 60rem) {
  .gameboard__next-round .gameboard__player-1 {
    margin-inline-start: var(--size-medium);
    padding-inline-start: var(--size-medium);
  }
}
@media screen and (min-width: 60rem) {
  .gameboard__next-round .gameboard__player-2 {
    margin-inline-end: var(--size-medium);
    padding-inline-end: var(--size-medium);
  }
}
.gameboard__next-round .gameboard__avatar-1 {
  left: -80%;
  transform: translate(75%, -50%) skew(20deg);
}
@media screen and (min-width: 60rem) {
  .gameboard__next-round .gameboard__avatar-1 {
    left: -65%;
  }
}
.gameboard__next-round .gameboard__avatar-2 {
  right: -80%;
  transform: translate(-75%, -50%) skew(-20deg);
}
@media screen and (min-width: 60rem) {
  .gameboard__next-round .gameboard__avatar-2 {
    right: -65%;
  }
}
.gameboard__controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--size-medium);
  margin-block-start: 3rem;
}
.gameboard__controls__button {
  padding: var(--size-smaller) var(--size-small);
  border-radius: var(--size-small);
  border: none;
  font-family: "Fredoka", sans-serif;
  font-weight: var(--font-weight-medium);
  font-size: var(--size-font-small);
  font-style: normal;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  position: relative;
  color: var(--color-contrast-primary);
  cursor: pointer;
  transition: 500ms ease;
}
.gameboard__controls__button:hover {
  transform: scale(1.1);
  transition: 200ms ease;
}
.gameboard__controls__button:active {
  transform: scale(1);
  transition: 200ms ease;
}
.gameboard__controls__button:first-of-type {
  background: var(--color-primary);
}
.gameboard__controls__button:nth-of-type(2) {
  background: var(--color-secondary);
}
.gameboard__round::backdrop {
  background: var(--color-contrast-primary);
  opacity: 0.5;
}
.gameboard__next-round::backdrop {
  background: var(--color-contrast-primary);
  opacity: 0.6;
}

@media screen and (min-width: 45rem) {
  .gameboard__players {
    margin-block-end: 0;
  }
  .gameboard__square button {
    font-size: 600%;
  }
}