@mixin flex-column($direction, $true) {
  display: flex;
  flex-direction: $direction;
  justify-content: $true;
  align-items: center;
}

:root {
  /* Colors */
  /* Bright colors */
  --color-primary: #ffd93d;
  --color-secondary: #ff88cc;
  --color-tertiary: #ff6b6b;

  /* Primary contrast colors */
  --color-contrast-primary: #222222;
  --color-contrast-secondary: #ffffff;

  /* Medium neutrals for backgrounds / boards */
  --color-neutral-light: #f5f5f5;
  --color-neutral-mid: #cccccc;
  --color-neutral-dark: #555555;

  /* Accents for buttons*/
  --color-accent-muted: #888888;
  --color-accent-border: #dddddd;

  /* Sizes */
  --size-smaller: clamp(0.5rem, calc(0.35rem + 0.4vw), 1rem);
  --size-small: clamp(1rem, calc(1.25rem + 0.5vw), 1.75rem);
  --size-medium: clamp(1.5rem, calc(2rem + 0.5vw), 3rem);
  --size-large: clamp(2.5rem, calc(3.25rem + 1vw), 4rem);

  --font-small: clamp(1rem, calc(0.8rem + 0.5vw), 1.125rem);
  --font-medium: clamp(1.1rem, calc(0.9rem + 0.6vw), 1.2rem);
  --font-large: clamp(1.2rem, calc(1rem + 0.8vw), 1.4rem);
  --font-larger: clamp(1.65rem, calc(1.4rem + 1vw), 2rem);
}

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  @include flex-column(column, unset);
  min-height: 100vh;
  max-width: 100vw;
}

header {
  @include flex-column(column, center);
  width: 100%;
  padding: var(--size-small);
  font-family: "Fredoka", sans-serif;
  font-weight: 100;
  font-size: var(--font-larger);
  background: var(--color-neutral-dark);
  color: var(--color-tertiary);
}

main {
  width: 100%;
}

.character-selection-screen {
  @include flex-column(column, center);
  width: 100%;
  padding: var(--size-medium);
  gap: var(--size-medium);
  display: none;
}

.card {
  @include flex-column(column, center);
  background: var(--color-neutral-mid);
  width: min(100%, 25rem);
  border: var(--size-smaller) solid var(--color-accent-border);
  border-radius: var(--size-small);
  padding-block: var(--size-small);

  &__title {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    margin-block-end: var(--size-small);
  }

  &__button {
    cursor: pointer;
    font-family: "Fredoka", sans-serif;
    border: none;

    &--wide {
      background: transparent;
      width: 100%;
      color: var(--color-contrast-secondary);
      font-size: var(--font-larger);
    }

    &--player {
      padding: var(--size-smaller) var(--size-small);
      transform: skew(-20deg);
      font-size: var(--font-large);
      z-index: 1;
      transition: 400ms ease;

      &:hover {
        transform: scale(1.2) skew(-20deg);
        transition: 150ms ease-out;
        z-index: 3;
      }
      &:focus {
        transform: scale(1.15) skew(-20deg);
        transition: 200ms ease;
        z-index: 2;
      }

      & span {
        display: inline-block;
        transform: skew(20deg);
      }
    }

    &--human {
      background: var(--color-primary);
    }
    &--computer {
      background: var(--color-secondary);
    }
  }

  &__image {
    width: 100%;
    aspect-ratio: 1 / 1;
    background: var(--color-neutral-dark);
    text-align: center;
    border-radius: var(--size-small);
  }

  &__buttons {
    @include flex-column(column, center);
    gap: var(--size-small);
  }

  &__players {
    @include flex-column(row, center);
  }
}

.game-controls {
  @include flex-column(column, center);
  gap: var(--size-smaller);

  &__status {
    @include flex-column(row, center);
    gap: var(--size-smaller);
    font-family: "Poppins", sans-serif;
    font-size: var(--font-large);
  }

  &__start-button {
    padding: var(--size-smaller) var(--size-small);
    border-radius: var(--size-small);
    border: none;
    background: var(--color-tertiary);
    font-size: var(--font-medium);
    font-family: "Fredoka", sans-serif;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
  }
}

.soft-animation {
  cursor: pointer;
  transition: 400ms ease;

  &:hover {
    transform: scale(1.1);
    transition: 200ms ease;
  }
  &:active {
    transform: scale(1.05);
    transition: 200ms ease;
  }
}

.gameboard {
  aspect-ratio: 1 / 1;
  width: min(100%, calc(25rem + 1vw));
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin-block-end: var(--size-medium);

  &-screen {
    @include flex-column(column, center);
  }

  &__square {
    border: var(--size-smaller) solid var(--color-tertiary);

    &:nth-child(1) {
      border-inline-start: none;
      border-block-start: none;
    }
    &:nth-child(2) {
      border-block-start: none;
    }
    &:nth-child(3) {
      border-inline-end: none;
      border-block-start: none;
    }
    &:nth-child(4) {
      border-inline-start: none;
    }
    &:nth-child(6) {
      border-inline-end: none;
    }
    &:nth-child(7) {
      border-inline-start: none;
      border-block-end: none;
    }
    &:nth-child(8) {
      border-block-end: none;
    }
    &:nth-child(9) {
      border-inline-end: none;
      border-block-end: none;
    }
  }

  &__players {
    @include flex-column(row, space-between);
    width: min(100%, calc(40rem + 10vw));
    margin: var(--size-small);
  }

  &__player {
    width: min(20%, calc(8rem + 3vw));
    aspect-ratio: 1 / 1;
    background: var(--color-neutral-mid);
    border: var(--size-smaller) solid var(--color-accent-border);
    border-radius: var(--size-medium);
    position: relative;
  }

  &__score {
    position: absolute;
    top: 40%;
    z-index: -1;
    border-radius: var(--size-smaller);
    background: var(--color-neutral-dark);
    width: 200%;
    height: min(70%, calc(4rem + 1vw));
    @include flex-column(row, unset);
    color: var(--color-contrast-secondary);
    font-size: var(--font-larger);
    font-family: "Poppins", sans-serif;
    font-weight: 600;

    &-1 {
      right: -150%;
      transform: translateY(-50%) skew(-30deg);
      justify-content: center;
      & span {
        transform: skew(30deg);
      }
    }

    &-2 {
      left: -150%;
      transform: translateY(-50%) skew(30deg);
      justify-content: center;

      & span {
        transform: skew(-30deg);
      }
    }
  }
}

@media screen and (min-width: 45rem) {
  .character-selection-screen {
    flex-direction: row;
  }
}
