.fast-slow-hover {
  transition: 500ms ease;
  cursor: pointer;

  &:hover {
    transition: 200ms ease;
  }
}

@media (prefers-reduced-motion: reduce) {
  *, *::before, *::after {
    animation-duration: 0s !important;
    transition-duration: 0s !important;
    scroll-behavior: auto !important;
  }
}

