@use "../abstracts/mixins" as m;

.card {
  @include m.flex(column);
  background: var(--color-neutral-mid);
  width: min(100%, calc(18rem + 5vw));
  border: var(--size-smaller) solid var(--color-accent-border);
  border-radius: var(--size-small);
  padding-block: var(--size-small);
  transition: 500ms ease;

  &:hover {
    transform: scale(1.05);
    transition: 200ms ease;
  }

  &__form {
    @include m.flex(column);
    width: 100%;
    gap: var(--size-smaller);

    & button {
      background: var(--color-accent-muted);
      border: none;
      border-radius: var(--size-small);
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      font-size: var(--size-font-small);
      width: 30%;
      padding-block: var(--size-tiny);
      cursor: pointer;
      color: var(--color-contrast-secondaryo);


      &:active {
        transform: scale(0.9);
      }
    }
  }

  &__name {
    @include m.flex(column);
    gap: 0.3rem;
    font-size: var(--size-font-small);
    width: 100%;
    padding-inline: var(--size-small);
  }

  &__input {
    display: block;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: var(--size-font-small);
    border: 0.2rem solid var(--color-accent-muted);
    background: var(--color-accent-border);
    border-radius: var(--size-small);
    padding: 0.2rem var(--size-smaller);
    width: 55%;
    transition: 500ms ease;

    &:hover {
      width: 65%;
      transition: 300ms ease;
    }
    &:focus {
      width: 65%;
      transition: 200ms ease;
      outline: none;
    }
  }

  &__title {
    display: block;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: var(--size-font-medium);
    text-align: center;
  }

  &__button {
    cursor: pointer;
    font-family: "Fredoka", sans-serif;
    border: none;

    &--wide {
      background: transparent;
      color: var(--color-contrast-secondary);
      font-size: var(--size-font-large);
      font-weight: 400;
      margin-block-end: var(--size-tiny);
      transition: 500ms ease;

      &:hover {
        transition: 200ms ease;
        transform: scale(1.2);
      }
      &:active {
        transition: 200ms ease;
        transform: scale(1.1);
      }
    }

    &--player {
      padding: var(--size-smaller) var(--size-small);
      transform: skew(-20deg);
      font-size: var(--size-font-small);
      z-index: 1;
      transition: 400ms ease;
      border: 0.2rem solid transparent;

      &:hover {
        transform: scale(1.1) skew(-20deg);
        transition: 150ms ease-out;
        z-index: 3;
      }

      & span {
        display: inline-block;
        transform: skew(20deg);
      }
    }

    &--human {
      background: var(--color-primary);
    }
    &--computer {
      background: var(--color-secondary);
    }
    &--selected {
      border: 0.2rem solid var(--color-tertiary);
      transform: skew(-20deg) scale(1);
    }
  }

  &__image {
    @include m.flex(row, center, space-between);
    width: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    background: var(--color-neutral-dark);
    text-align: center;
    border-radius: var(--size-small);
    margin-block-start: var(--size-small);
    padding-inline: var(--size-smaller);
    position: relative;

    &::before {
      content: "Player";
      position: absolute;
      left: 50%;
      bottom: calc(var(--size-small) / 2);
      transform: translateX(-50%);
      border: 0.2rem var(--color-tertiary);
      z-index: 5;
      height: 10%;
      padding: calc(var(--size-small) / 5);
      color: var(--color-contrast-secondary);
      @include m.font(
        "Fredoka",
        var(--size-font-weight-regular),
        var(--size-font-medium)
      );
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      width: 100%;
      height: 100%;
      box-shadow:
        inset 0 0 10rem var(--color-contrast-primary),
        inset 0 2.5rem 5rem var(--color-contrast-primary),
        inset 0 -2.5rem 5rem var(--color-contrast-primary);
      opacity: 0.5;
    }

    &-button {
      background: none;
      border: none;
      cursor: pointer;
      transition: 400ms ease;
      z-index: 3;

      &:hover {
        transform: scale(1.2);
        transition: 200ms ease;
      }
      &:active {
        transform: scale(1.1);
        transition: 200ms ease;
      }
    }
  }

  &__icon {
    color: var(--color-contrast-secondary);
    stroke-width: 0.2rem;
  }

  &__character {
    height: 75%;
    padding-block-end: var(--size-small);

    &--preview {
      transform: scale(0.5);
      z-index: 1;
      opacity: 0.8;
    }
    &--default {
      z-index: 3;
      cursor: pointer;
      transform: scale(1);
      transition: 500ms ease;
      position: relative;

      &:hover {
        transform: scale(1.08);
        transition: 200ms ease;
      }
    }
  }

  &__buttons {
    @include m.flex(column);
    width: 100%;
  }

  &__players {
    @include m.flex(row);
  }
}
