:root {
  /* Colors */
  /* Bright colors */
  --color-primary: #ffd93d;
  --color-secondary: #ff88cc;
  --color-tertiary: #ff6b6b;

  /* Contrast colors */
  --color-contrast-primary: hsl(0, 0%, 0%);
  --color-contrast-secondary: hsl(0, 0%, 100%);

  /* Medium neutrals */
  --color-neutral-light: hsl(0, 0%, 96%);
  --color-neutral-mid: hsl(0, 0%, 80%);
  --color-neutral-dark: hsl(0, 0%, 33%);

  /* Muted */
  --color-accent-muted: hsla(0, 0%, 55%, 0.549);
  --color-accent-border: hsl(0, 0%, 87%);

  /* Spacing sizes */
  --size-tiny: clamp(0.2rem, calc(0.2rem + 0.2vw), 0.5rem);
  --size-smaller: clamp(0.5rem, calc(0.35rem + 0.4vw), 1rem);
  --size-small: clamp(1rem, calc(1.25rem + 0.5vw), 1.75rem);
  --size-medium: clamp(1.5rem, calc(2rem + 0.5vw), 3rem);
  --size-large: clamp(2.5rem, calc(3.25rem + 1vw), 4rem);

  /* Font sizes */
  --size-font-smaller: clamp(0.7rem, calc(0.65rem + 0.5vw), 1rem);
  --size-font-small: clamp(1rem, calc(0.8rem + 0.7vw), 1.3rem);
  --size-font-medium: clamp(1.5rem, calc(1.3rem + 1vw), 2rem);
  --size-font-large: clamp(2rem, calc(1.8rem + 1.2vw), 3rem);
  --size-font-larger: clamp(3rem, calc(3.5rem + 1.5vw), 5rem);

  /* Font weights */
  --font-weight-white: 100;
  --font-weight-light: 400;
  --font-weight-regular: 500;
  --font-weight-medium: 600;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;
  --font-weight-black: 900;
}

/* Tablet */

@media screen and (min-width: 40rem) {
  :root {
    /* Font sizes */
    --size-font-small: clamp(1rem, calc(0.8rem + 0.4vw), 1.5rem);
    --size-font-medium: clamp(1.5rem, calc(1.5rem + 0.8vw), 2.5rem);
    --size-font-large: clamp(2.5rem, calc(2rem + 0.9vw), 3.5rem);
    --size-font-larger: clamp(3rem, calc(3rem + 1vw), 4rem);
  }
}

/* Desktop */

@media screen and (min-width: 65rem) {
  :root {
    /* size-Font sizes */
    --size-font-small: clamp(0.8rem, calc(0.8rem + 0.3vw), 1.2rem);
    --size-font-medium: clamp(1rem, calc(1rem + 0.6vw), 2rem);
    --size-font-large: clamp(2rem, calc(2rem + 0.7vw), 3rem);
    --size-font-larger: clamp(3rem, calc(3rem + 1vw), 4rem);
  }
}
