@use "./abstracts/mixins" as m;

@use "./base/reset";

@use "./base/base";

@use "./components/card";

@use "./components/animations";

// Global Styles
body {
  @include m.flex(column, unset);
  cursor: crosshair;
  background: var(--color-accent-muted);
}

header {
  @include m.flex(column);

  @include m.font("Fredoka", var(--font-weight-light), var(--size-font-large));
  width: 100%;
  padding: var(--size-smaller);
  background: var(--color-neutral-dark);
  color: var(--color-tertiary);
}

.game-name {
  @include m.flex(row);
  gap: var(--size-smaller);

  span {
    cursor: pointer;

    &:hover {
      transform: scale(1.2);
      filter: saturate(2);
      color: var(--color-tertiary);
    }
  }
}

main {
  width: 100%;
}

// Character Selection
.character-selection-screen {
  @include m.flex(column);
  width: 100%;
  padding: var(--size-medium);
  gap: calc(var(--size-small) - 0.5rem);

  @media screen and (min-width: 60rem) {
    flex-direction: row;
  }
}

// Game Controls
.game-controls {
  @include m.flex(column);
  gap: var(--size-smaller);

  &__status {
    @include m.flex(row);
    gap: var(--size-smaller);

    @include m.font(
      "Poppins",
      var(--font-weight-regular),
      var(--size-font-medium)
    );
  }

  &__start-button {
    padding: var(--size-smaller) var(--size-small);
    border-radius: var(--size-small);
    border: none;
    background: var(--color-tertiary);

    @include m.font("Fredoka", var(--font-weight-medium), 130%);
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    position: relative;
    color: var(--color-contrast-primary);
    cursor: pointer;
    transition: 200ms ease;

    &:hover {
      transform: scale(1.1);
    }

    &:active {
      transform: scale(1);
    }
  }
}

// Gameboard
.gameboard {
  aspect-ratio: 1 / 1;
  width: min(80vw, calc(20rem + 5vw));
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
  margin-block-end: var(--size-medium);

  &__screen {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  &__square {
    border: calc(var(--size-tiny) + 0.2vw) solid var(--color-tertiary);

    button {
      @include m.font("Fredoka", var(--font-weight-bolder), 450%);
      width: 100%;
      aspect-ratio: 1 / 1;
      border: none;
      background: transparent;
      cursor: pointer;
    }

    &:nth-child(1) {
      border-inline-start: none;
      border-block-start: none;
    }

    &:nth-child(2) {
      border-block-start: none;
    }

    &:nth-child(3) {
      border-inline-end: none;
      border-block-start: none;
    }

    &:nth-child(4) {
      border-inline-start: none;
    }

    &:nth-child(6) {
      border-inline-end: none;
    }

    &:nth-child(7) {
      border-inline-start: none;
      border-block-end: none;
    }

    &:nth-child(8) {
      border-block-end: none;
    }

    &:nth-child(9) {
      border-inline-end: none;
      border-block-end: none;
    }
  }

  &__players {
    @include m.flex(row, center, space-between);
    width: 90%;
    padding-inline: 0.5rem;
    max-width: 100rem;
    margin: var(--size-small);
  }

  &__player {
    @include m.flex(column);
    border-radius: var(--size-smaller);
    min-height: 5rem;
    position: relative;
    background: var(--color-neutral-dark);
    color: var(--color-contrast-secondary);
    padding-block: 0.5rem;
    z-index: -1;
    width: calc(9rem + 10vw);

    @media screen and (min-width: 60rem) {
      width: calc(12rem + 10vw);
    }

    &-1 {
      transform: skew(-20deg);
      align-items: flex-end;
      padding-inline-end: 0.5rem;

      @media screen and (min-width: 60rem) {
        align-items: flex-start;
        margin-inline-start: var(--size-large);
        padding-inline-start: calc(var(--size-large) + 1.5rem);
      }
    }

    &-2 {
      transform: skew(20deg);
      align-items: flex-start;
      padding-inline-start: 0.5rem;

      @media screen and (min-width: 60rem) {
        align-items: flex-end;
        margin-inline-end: var(--size-large);
        padding-inline-end: calc(var(--size-large) + 1.5rem);
      }
    }
  }

  &__score {
    font-size: var(--size-font-small);

    @media screen and (min-width: 60rem) {
      font-size: var(--size-font-medium);
    }

    &-1 {
      transform: skew(20deg);

      @media screen and (min-width: 60rem) {
        padding-inline-start: 0.7rem;
      }
    }

    &-2 {
      transform: skew(-20deg);

      @media screen and (min-width: 60rem) {
        padding-inline-end: 0.7rem;
      }
    }
  }

  &__name {
    font-size: calc(var(--size-font-medium) - 0.4rem);

    @media screen and (min-width: 60rem) {
      font-size: calc(var(--size-font-large) - 0.4rem);
    }

    &-1 {
      transform: skew(20deg);
      color: var(--color-primary);
      padding-inline-end: 3%;
    }

    &-2 {
      transform: skew(-20deg);
      color: var(--color-secondary);
      padding-inline-start: 3%;
    }
  }

  &__avatar {
    aspect-ratio: 1 / 1;
    background: var(--color-neutral-mid);
    border: var(--size-smaller) solid var(--color-accent-border);
    border-radius: var(--size-small);
    position: absolute;
    top: 50%;
    height: 150%;
    background-position: 50% -10%;
    background-repeat: no-repeat;
    background-size: 50%;

    &-1 {
      left: -60%;
      transform: translate(75%, -50%) skew(20deg);
    }

    &-2 {
      right: -60%;
      transform: translate(-75%, -50%) skew(-20deg);
    }
  }

  &__close-game-btn {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 var(--size-small) 0.25rem;
    border-radius: 0 0 var(--size-small) var(--size-small);
    border: none;
    background: var(--color-tertiary);

    @include m.font("Fredoka", var(--font-weight-medium), 130%);
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    color: var(--color-contrast-secondary);
    cursor: pointer;
    transition: 500ms ease;

    &:hover {
      transform: translateX(-50%) scale(1.1);
      transition: 200ms ease;
    }

    &:active {
      transform: translateX(-50%) scale(1);
      transition: 200ms ease;
    }
  }

  &__round,
  &__next-round {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: var(--size-small);
    border: none;
    background: var(--color-tertiary);

    @include m.font("Fredoka", var(--font-weight-medium), 300%);
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    text-align: center;
    color: var(--color-contrast-secondary);
    align-items: center;
    justify-content: center;
  }

  &__round {
    padding: var(--size-small) var(--size-medium);
  }

  &__next-round {
    padding: var(--size-small);
    overflow: hidden;

    .gameboard__players {
      transform: scale(0.8);
      width: 100%;
      gap: var(--size-medium);
      margin: 0;

      @media screen and (min-width: 60rem) {
        gap: var(--size-large);
      }
    }

    .gameboard__player {
      &-1 {
        @media screen and (min-width: 60rem) {
          margin-inline-start: var(--size-medium);
          padding-inline-start: var(--size-medium);
        }
      }

      &-2 {
        @media screen and (min-width: 60rem) {
          margin-inline-end: var(--size-medium);
          padding-inline-end: var(--size-medium);
        }
      }
    }

    .gameboard__avatar {
      &-1 {
        left: -80%;
        transform: translate(75%, -50%) skew(20deg);

        @media screen and (min-width: 60rem) {
          left: -65%;
        }
      }

      &-2 {
        right: -80%;
        transform: translate(-75%, -50%) skew(-20deg);

        @media screen and (min-width: 60rem) {
          right: -65%;
        }
      }
    }
  }

  &__controls {
    @include m.flex(row);
    gap: var(--size-medium);
    margin-block-start: 3rem;

    &__button {
      padding: var(--size-smaller) var(--size-small);
      border-radius: var(--size-small);
      border: none;

      @include m.font(
        "Fredoka",
        var(--font-weight-medium),
        var(--size-font-small)
      );
      letter-spacing: 0.15rem;
      text-transform: uppercase;
      position: relative;
      color: var(--color-contrast-primary);
      cursor: pointer;
      transition: 500ms ease;

      &:hover {
        transform: scale(1.1);
        transition: 200ms ease;
      }

      &:active {
        transform: scale(1);
        transition: 200ms ease;
      }

      &:first-of-type {
        background: var(--color-primary);
      }

      &:nth-of-type(2) {
        background: var(--color-secondary);
      }
    }
  }

  &__round::backdrop {
    background: var(--color-contrast-primary);
    opacity: 0.5;
  }

  &__next-round::backdrop {
    background: var(--color-contrast-primary);
    opacity: 0.6;
  }
}

// Media Queries

@media screen and (min-width: 45rem) {
  .gameboard {
    &__players {
      margin-block-end: 0;
    }

    &__square button {
      font-size: 600%;
    }
  }
}
