// Abstracts (variables, mixins, functions)
@use "./abstracts/mixins" as m;

// Base / Reset
@use "./base/reset";
@use "./base/base";

// Components
@use "./components/card";
@use "./components/animations";

body {
  @include m.flex(column, unset);
  cursor: crosshair;
  background: var(--color-accent-muted);
}

header {
  @include m.flex(column);
  @include m.font("Fredoka", var(--font-weight-light), var(--size-font-large));
  width: 100%;
  padding: var(--size-smaller);
  background: var(--color-neutral-dark);
  color: var(--color-tertiary);
}

.game-name {
  @include m.flex(row);
  gap: var(--size-smaller);
  & span {
    cursor: pointer;

    &:hover {
      transform: scale(1.2);
      filter: saturate(2);
      color: var(--color-tertiary);
    }
  }
}

main {
  width: 100%;
}

.character-selection-screen {
  @include m.flex(column);
  width: 100%;
  padding: var(--size-medium);
  gap: calc(var(--size-small) - 0.5rem);
  // display: none;
}

.game-controls {
  @include m.flex(column);
  gap: var(--size-smaller);

  &__status {
    @include m.flex(row);
    gap: var(--size-smaller);
    @include m.font(
      "Poppins",
      var(--font-weight-regular),
      var(--size-font-medium)
    );
  }

  &__start-button {
    padding: var(--size-smaller) var(--size-small);
    border-radius: var(--size-small);
    border: none;
    background: var(--color-tertiary);
    @include m.font("Fredoka", var(--font-weight-medium), 130%);
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    position: relative;
    color: var(--color-contrast-primary);

    &:hover {
      transform: scale(1.1);
    }

    &:active {
      transform: scale(1);
    }
  }
}

.gameboard {
  aspect-ratio: 1 / 1;
  width: min(80vw, calc(20rem + 5vw));
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: center;
  margin-block-end: var(--size-medium);

  &__screen {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
  }

  &__square {
    border: calc(var(--size-tiny) + 0.2vw) solid var(--color-tertiary);

    & button {
      @include m.font("Fredoka", var(--font-weight-bolder), 450%);
      width: 100%;
      aspect-ratio: 1 / 1;
      border: none;
      background: transparent;
      cursor: pointer;
    }

    &:nth-child(1) {
      border-inline-start: none;
      border-block-start: none;
    }
    &:nth-child(2) {
      border-block-start: none;
    }
    &:nth-child(3) {
      border-inline-end: none;
      border-block-start: none;
    }
    &:nth-child(4) {
      border-inline-start: none;
    }
    &:nth-child(6) {
      border-inline-end: none;
    }
    &:nth-child(7) {
      border-inline-start: none;
      border-block-end: none;
    }
    &:nth-child(8) {
      border-block-end: none;
    }
    &:nth-child(9) {
      border-inline-end: none;
      border-block-end: none;
    }
  }

  &__players {
    @include m.flex(row, center, space-between);
    width: 90%;
    padding-inline: 0.5rem;
    max-width: 100rem;
    margin: var(--size-small);
  }

  &__player {
    @include m.flex(column);
    border-radius: var(--size-smaller);
    min-height: 5rem;
    position: relative;
    background: var(--color-neutral-dark);
    color: var(--color-contrast-secondary);
    padding-block: 0.5rem;
    z-index: -1;
    width: calc(9rem + 10vw);

    &-1 {
      transform: skew(-20deg);
      align-items: flex-end;
      padding-inline-end: 0.5rem;

      @media screen and (min-width: 60rem) {
        align-items: flex-start;
        margin-inline-start: var(--size-large);
        padding-inline-start: calc(var(--size-large) + 1.5rem);
      }
    }

    &-2 {
      transform: skew(20deg);
      align-items: flex-start;
      padding-inline-start: 0.5rem;

      @media screen and (min-width: 60rem) {
        align-items: flex-end;
        margin-inline-end: var(--size-large);
        padding-inline-end: calc(var(--size-large) + 1.5rem);
      }
    }
  }

  &__score {
    font-size: var(--size-font-small);

    @media screen and (min-width: 60rem) {
      font-size: var(--size-font-medium);
    }

    &-1 {
      transform: skew(20deg);

      @media screen and (min-width: 60rem) {
        padding-inline-start: 0.7rem;
      }
    }
    &-2 {
      transform: skew(-20deg);

      @media screen and (min-width: 60rem) {
        padding-inline-end: 0.7rem;
      }
    }
  }

  &__name {
    color: var(--color-contrast-secondary);
    font-size: calc(var(--size-font-medium) - 0.4rem);

    @media screen and (min-width: 60rem) {
      font-size: calc(var(--size-font-large) - 0.4rem);
    }

    &-1 {
      transform: skew(20deg);

      padding-inline-end: 3%;
    }
    &-2 {
      transform: skew(-20deg);

      padding-inline-start: 3%;
    }
  }

  &__avatar {
    aspect-ratio: 1 / 1;
    background: var(--color-neutral-mid);
    border: var(--size-smaller) solid var(--color-accent-border);
    border-radius: var(--size-small);
    position: absolute;
    top: 50%;
    height: 150%;
    background-position: 50% -10%;
    background-repeat: no-repeat;
    background-size: 50%;

    &-1 {
      left: -60%;
      transform: translate(75%, -50%) skew(20deg);
    }
    &-2 {
      right: -60%;
      transform: translate(-75%, -50%) skew(-20deg);
    }
  }
}

@media screen and (min-width: 45rem) {
  .gameboard {
    &__players {
      margin-block-end: 0;
    }
    &__square {
      & button {
        font-size: 600%;
      }
    }
  }
}
